.hero {
  width: 100%;
  height: 100vh;
  background-color: #222;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #fff;
  margin: 0;
  position: relative;
}

.animated-text-wrapper {
  display: inline-block;
  min-width: 280px;
  height: 60px;
  line-height: 60px;
  overflow: visible;
  position: relative;
}

.animated-text {
  display: inline-block;
  white-space: nowrap;
  color: #ff7700;
}

.cursor {
  display: inline-block;
  width: 3px;            /* İnce çizgi */
  height: 0.9em;           /* Yazı yüksekliğine göre */
  margin-left: 4px;      /* Yazıdan az uzaklık */
  background-color: #ff7700;  /* Ana renk */
  animation: blink 1s step-end infinite;
  opacity: 1;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.hero-subtitle {
  font-size: 1.25rem;
  color: white;
  margin-top: 1.5rem;
  opacity: 0.9;
}
